@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --Marineblue:  hsl(213, 96%, 18%);
    --Purplishblue: hsl(243, 100%, 62%);
    --Pastelblue: hsl(228, 100%, 84%);
    --Lightblue: hsl(206, 94%, 87%);
    --Strawberryred: hsl(354, 84%, 57%);
    --Coolgray: hsl(231, 11%, 63%);
    --Lightgray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
    --para: 1rem;;
    --family:"Ubuntu", "Sans-Serif";
    --fw-semi:400;
    --fw-bold:500;
    --fw-xbold:700;
}
a, button, li, a:active, a:focus{
    border: none;
    list-style: none;
    text-decoration: none;
    box-shadow: none;
}
body {
    background-color: var(--Magnolia);
    font-family: var(--family);
    max-width: 1440px;
    min-width: 375px;
  
  }
  
  main {
    background-image: url("../assets/images/bg-sidebar-mobile.svg");
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 30vh;
    position: relative;
  }
  
  .one,
  .two,
  .three,
  .four {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--White);
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    margin-top: 2rem;
    border: 1px solid var(--White);
  }
  .four{
    background-color: var(--Lightblue);
    color: var(--Marineblue);
  }
  
  /* .nav-btn :nth-child(1):hover {
    background-color: var(--Lightblue);
    color: var(--Marineblue);
  } */
  section {
    width: 200px;
    position: absolute;
    top: 17.5%;
    background-color: var(--Alabaster);
    padding: 10px;
    border-radius: 10px;
  }
  .row{
    background-color: var(--Magnolia);
    border-radius: 5px;
    margin: 0.5rem 0 0.5rem;
    /* height: 170px; */
    
  }
  .box1{
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: 6px;
  }
  .box1 h5{
    color: var(--Marineblue);
    font-weight: var(--fw-xbold);
    font-size: 0.9rem;
  }
  .box1 a{
    text-decoration: underline;
    font-size: 0.63rem;
    color: var(--Coolgray) !important;
  }
  .line{
    height: 1px;
    width: 260px;
    background-color: var(--Lightgray);
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
  }
  .box p{
color: var(--Coolgray);
font-weight: var(--fw-semi);
font-size: 0.9rem;
  }
  .box h5{
color: navy;
font-weight: var(--fw-bold);
font-size: 1rem;
  }
  
  .box-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.94rem;
  }
  .lbox p{
    color: var(--Coolgray);
font-weight: var(--fw-semi);
font-size: 0.75rem;
  }
  .lbox h5{
    color: var(--Purplishblue);
font-weight: var(--fw-xbold);
font-size: 0.9rem;
  }
  .top h4 {
    color: var(--Marineblue);
    font-weight: var(--fw-xbold);
  }
  .top{
    color: var(--Coolgray);
  }
  .next-btn {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--White);
  }
  .next-btn .btn {
    /* right: -60%; */
    position: relative;
    background-color: var(--Purplishblue);
    color: var(--Lightblue);
  }
  .next-btn :nth-child(1){
    background-color: transparent;
    color: var(--Coolgray);
  }
  .btn-container :nth-child(1){
    background-color: transparent;
    color: var(--Coolgray);
    background: none;
  }
  
  .btn-container{
    margin-top: 0.1rem;
  }
  .btn-container a{
    background-color: var(--Purplishblue);
    color: var(--Lightblue);
    border: none;
    text-decoration: none;
  }
  .btn-container a:hover{
    background-color: var(--Marineblue);
    color: var(--Lightblue);
    opacity: .9;
  }
  a{
    text-decoration: none;
    color: var(--Coolgray);
  }

   /* madia query */
  
   @media (min-width: 768px) and (max-width: 900px){
    section{
      margin-top: 2rem;
    }
  } 
  
  @media (min-width: 900px) {
    body {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .main-container {
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 77vh;
      background-color: var(--White);
      padding: 15px;
      border-radius: 10px;
    }
    main {
      width: 30% !important;
      height: 70vh;
      flex-direction: column;
      justify-content: flex-start;
      background-image: url("../assets/images/bg-sidebar-desktop.svg");
      background-size: cover;
      background-position: 100%;
      border-radius: 10px;
    }
    section {
      width: 60% !important;
      height: 70vh;
      margin-top: 2.5rem;
    }
    main,
    section {
      position: static;
      background-color: var(--White);
    }
  
    .nav-btn :nth-child(1) {
      margin-top: 0;
    }
  
    .one,
    .two,
    .three,
    .four {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .nav-btn {
      margin-top: 2rem;
       margin-left: 1.5rem;
    }
  
    .desktop-only span {
      color: var(--Coolgray);
    }
    .desktop-only h5 {
      color: var(--White);
    }
    .row{
        line-height: 1px;
    }
    .line{
      width: 460px;
    }
  }